body {
    margin: 0;
}

.taskbar {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background: rgb(143, 143, 143);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
}